#Build directory:
build/
#Build cache:
.cache

#Compiled shader bytecode:
assets/spirv
#Textures:
assets/textures
#Gltf models:
assets/gltf
#Cubemaps:
assets/cubemaps

#Imgui conifg:
imgui.ini

#Ninja log:
trace.json

#Python virtual env:
venv
